#container {
  .boxes {
    padding-top: 11%;
    width: 11%;
    float: left;
    border: 0.5px solid ;
    margin: 1px;
  }

  span {
    font-size: 18px;
  }

  .question {
    background: url("question.png") no-repeat center;
    background-size: 100%;
  }

  .diamond {
    background: url("diamond.png") no-repeat center;
    background-size: 100%;
  }

  .arrow {
    background: url("arrow.png") no-repeat center;
    background-size: 100%;
  }

  .left-arrow {
    background: url("left-arrow.png") no-repeat center;
    background-size: 100%;
  }

  .clearfloat {
    clear: left;
  }

}
