#container {
  .boxes {
    padding-top: 11%;
    width: 11%;
    float: left;
    border: 0.5px solid ;
    margin: 1px;
  }

  span {
    font-size: 18px;
  }

  .question {
    background-image: url("question.png");
    background-size: cover;
  }

  .diamond {
    background-image: url("diamond.png");
    background-size: cover;
  }

  .arrow {
    background-image: url("arrow.png");
    background-size: cover;
  }

  .left-arrow {
    background-image: url("left-arrow.png");
    background-size: cover;
  }

  .clearfloat {
    clear: left;
  }

}
