<html>
  <head>
    <title>Quintype App</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
    <script type="text/javascript" src="/assets/app.js"></script>
  </head>
  <body>
      <div ng-app="GameApp" id="container" ng-controller="diamondGame">
          <h1> User Score is : {{userScore}}</h1>
          <div ng-click="isBoxDiamond($event, $index)"  ng-class="{clearfloat: breakLine($index)}" ng-repeat="gameItemCollection in gameItemCollection track by $index" class="boxes question">
            <span> {{$index + 1}}</span>
          </div>
      </div>
    <script type="text/javascript">startApp();</script>
  </body>
</html>
